.header{
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: rgb(255, 255, 255);
}
.logo{
    color:rgb(0, 0, 0);
    font-size: 25px;
    font-weight: bold;
    padding-left: 50px;
    cursor: pointer;
}
.nav{
    display: flex;
    align-items: center;
}
.obj a{
    text-decoration: none;
   color:rgb(0, 0, 0);
   padding-right: 30px;
   cursor: default;
   font-size: 16px;
}
.obj a:hover{
    color:rgb(100, 100, 100);
    transition: color 0.3s;
}

